<f:layout name="Default"/>

<f:section name="title">
    <f:security.ifAuthenticated>Passwort ändern
    </f:security.ifAuthenticated>
</f:section>


<f:section name="main">

    <f:security.ifAuthenticated>
        <f:then>
            <f:form id="updatePassword" controller="Account" class="col-md-6" action="updatePassword" object="{account}"
                    name="account">
                <div class="form-group">
                    <label class="control-label" for="password[0]">Passwort</label>
                    <f:form.textfield type="password" name="password[0]" id="password[0]" class="form-control"
                                      placeholder="Passwort"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password[1]">Passwort Wiederholung</label>
                    <f:form.textfield type="password" name="password[1]" id="password[1]" class="form-control"
                                      placeholder="Passwort Wiederholung"/>
                </div>
                <f:form.submit class="btn btn-warning" value="Passwort ändern"/>
                <f:link.action class="btn btn-primary" action="index" controller="Account">Zurück zur Liste
                </f:link.action>
            </f:form>
        </f:then>
        <f:else>
            <f:link.action action="index" controller="Login">Bitte loggen Sie sich erneut ein</f:link.action>
        </f:else>
    </f:security.ifAuthenticated>

</f:section>