<f:layout name="Default.html"/>

<f:section name="title">Login</f:section>

<f:section name="main">

        <f:form action="authenticate" class="col-md-6" method="post" name="loginform">
            <div class="form-group">
                <label for="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]">Benutzername</label>
                <f:form.textfield
                        name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]"
                        class="form-control"
                        placeholder="Benutzername"/>
            </div>
            <div class="form-group">
                <label for="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]">Passwort</label>
                <f:form.password
                        name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]"
                        class="form-control"
                        placeholder="Passwort"/>
            </div>
            <f:form.submit
                    class="btn btn-success"
                    value="Login"/>
        </f:form>


</f:section>